:root { 
    /*lightmode color*/
    --background-color: #a3bfb2;
    --nav-color: #b7f1d6;
    --foot-color: var(--nav-color);
}

:root:has(#dark-theme:checked){
    /*darkmode color*/
    --background-color: #a3bfb2;
    --nav-color: #b7f1d6;
    --foot-color: var(--nav-color);
}

/* lab 01 recoloring */
body, main {
	background-color: #a3bfb2;
}

nav, .foot {
	background-color: #b7f1d6;
}
.w100 { width: 100%; }

/* lab 4 styling */
.img-contain {
    max-width: 40%;
}

.imgCoverFit { 
    object-fit: cover;
}

.inline-block {
    display: inline-block;
}

/* brand new styling */
/*map*/
#map { height: 50vh; } /* leaflet requires map to have a defined height */

.star {
    height: 1.5rem;
}

.inactive {
    opacity: 70%;
}

.hidden {
    display: none;
}

.formTip {
    font-size: small;
    font-style: italic;
    font-weight: 700;
    color: #6d0909;
    /* background-color: #ececb7; */
    border-radius: .2em;
}

input.error {
    border: 2px solid #910f0f;
    box-shadow: 0 0 5px 0 #cf0b0b80;
}

label.error {
    font-style: 800;
    color: #6d0909;    
}