:root { 
    /*lightmode color*/
    --background-color: #a3bfb2;
    --nav-color: #b7f1d6;
    --foot-color: var(--nav-color);
}

:root:has(#dark-theme:checked){
    /*darkmode color*/
    --background-color: #a3bfb2;
    --nav-color: #b7f1d6;
    --foot-color: var(--nav-color);
}

/* lab 01 recoloring */
body, main {
	background-color: #a3bfb2;
}

nav, .foot {
	background-color: #b7f1d6;
}
.w100 { width: 100%; }

/* lab 4 styling */
.img-contain {
    max-width: 40%;
}

.imgCoverFit { 
    object-fit: cover;
}

.inline-block {
    display: inline-block;
}

/* brand new styling */
/*map*/
#map { height: 80vh; } /* leaflet requires map to have a defined height */

.star {
    height: 1.5rem;
}

.inactive {
    opacity: 70%;
}